/* ReSharper disable DeclarationIsEmpty */
h1:focus {
    outline: none;
}

/* Basic
----------------------------------------*/
.text-nowrap {
    white-space: nowrap !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: end !important;
}

/* Error page
----------------------------------------*/
.exception-detail {
    white-space: pre-wrap;
}

/* Progress
----------------------------------------*/
.progress {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #fff;
    opacity: 0.5;
}

/* Dialog
----------------------------------------*/
.dialog-dense {
}

    .dialog-dense .mud-dialog-title {
        padding: 4px 12px !important;
    }

    .dialog-dense .mud-dialog-content {
        padding: 0 12px !important;
    }

    .dialog-dense .mud-dialog-actions {
        padding: 8px !important;
    }

    .dialog-dense .mud-table-cell .mud-checkbox {
        margin: 0 !important;
    }

    .dialog-dense .mud-alert {
        padding: 0 !important;
    }

    .dialog-dense .mud-alert-message {
        padding: 4px 8px !important;
    }

/* Button
----------------------------------------*/
.btn-xs {
    width: 64px;
    min-width: 64px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.btn-sm {
    width: 80px;
    min-width: 80px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.btn-md {
    width: 96px;
    min-width: 96px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.btn-lg {
    width: 112px;
    min-width: 112px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.btn-xl {
    width: 128px;
    min-width: 128px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.btn-full {
    width: 100%;
}

.btn-dense {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

/* Table
----------------------------------------*/
.column-shrink {
    width: 0.1%;
    white-space: nowrap;
}

/* Components
----------------------------------------*/
.tab-switch {
    width: 6rem !important;
}

/* ReSharper restore DeclarationIsEmpty */
