/* ReSharper disable DeclarationIsEmpty */

/* Dialog
----------------------------------------*/
.dialog-dense {
}

    .dialog-dense .mud-dialog-title {
        padding: 4px 12px !important;
    }

    .dialog-dense .mud-dialog-content {
        padding: 0 12px !important;
    }

    .dialog-dense .mud-dialog-actions {
        padding: 8px !important;
    }

    .dialog-dense .mud-table-cell .mud-checkbox {
        margin: 0 !important;
    }

    .dialog-dense .mud-alert {
        padding: 0 !important;
    }

    .dialog-dense .mud-alert-message {
        padding: 4px 8px !important;
    }

.table-list {
}

    .table-list th {
        white-space: nowrap;
    }

    .table-list td {
        white-space: nowrap;
    }

/* Table column
----------------------------------------*/
.column-shrink {
    width: 0.01%;
}
