<CascadingValue Value="progress">
    @ChildContent
</CascadingValue>

<dialog id="progress-modal" style="visibility: @visibility">
    <div class="progress">
        <div class="progress-message">@progress.Message</div>
        <div class="progress-indicator"></div>
    </div>
</dialog>
